<h3 class="text-center">Search Task</h3>
<div class="container" style="width: 800px;">
    <form (ngSubmit)="onSubmit()">

        <table>
            <tr>
                <td>Title</td>
                <input type="text" class="form-control" id="title" required [(ngModel)]="task.title" name="title">
                
                <td>Description</td>
                <input type="text" class="form-control" id="description" required [(ngModel)]="task.description"
                    name="description">
            </tr>
            <br><br>
            <tr>
                <td>Due Date</td>
                <input type="date" class="form-control" id="duedate" required [(ngModel)]="task.duedate" name="duedate">
                
                <td>Status</td>
                <input type="radio" required [(ngModel)]="task.status" name="status" value="pending">Pending
                <input type="radio" required [(ngModel)]="task.status" name="status" value="completed">Complete
            </tr>

        </table>
        <br>
        <div>
            <button type="submit" class="btn btn-success">Filter</button>
        </div>
    </form>
</div>










<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="text-center">Tasks List</h2>
    </div>
    <div class="container">
        <div class="panel-body">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Status </th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks">
                        <td>{{task.title}}</td>
                        <td>{{task.description}}</td>
                        <td>{{task.duedate}}</td>
                        <td>{{task.status}}</td>





                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>