

<h3 class="text-center">Create Task</h3>
<div class="container" style="width: 800px;">
 <form (ngSubmit)="onSubmit()">
 
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="task.title" name="title"  style="padding: 12px 20px;" >
    </div>
     <br>
    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="task.description" name="description" style="padding: 12px 20px;">
    </div>
   <br>
    <div class="form-group">
      <label for="name">Due Date</label>
      <input type="date" class="form-control" id="duedate" required [(ngModel)]="task.duedate" name="duedate" style="padding: 12px 20px;">
    </div>
	<br>
	<div class="form-group">
      <label for="name">Status</label>
      <input type="radio"   required [(ngModel)]="task.status" name="status" value="pending" >Pending
      <input type="radio"   required [(ngModel)]="task.status" name="status" value="complete">Complete
    </div>
	<br>
    <div class="form-group">
        <label for="name">Creadted By(please provide User ID)</label>
        <input type="number" class="form-control"  required [(ngModel)]="task.user_id" name="user_id" style="padding: 12px 20px;">
      </div>
      <br>
    <button type="submit" class="btn btn-success">Submit</button>
	
 </form>
 </div>
 
